<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Regulzen {% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="{{ asset('bundles/colizeninterface/ace/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/colizeninterface/ace/css/font-awesome.min.css') }}" />


    <!-- page specific plugin styles -->
    {% block third_party_css %}{% endblock %}

    <!-- text fonts -->
    <link rel="stylesheet" href="{{ asset('bundles/colizeninterface/ace/css/ace-fonts.css') }}" />

    <!-- ace styles -->
    {% stylesheets '@ColizenInterfaceBundle/Resources/public/ace/css/less/ace.less'
        filter='less'
        output='css/ace.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}


    <!--[if lte IE 9]>
    <link rel="stylesheet" href="{{ asset('bundles/colizeninterface/ace/css/ace-part2.min.css') }}" />
    <![endif]-->
    <link rel="stylesheet" href="{{ asset('bundles/colizeninterface/ace/css/ace-skins.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/colizeninterface/ace/css/ace-rtl.min.css') }}" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="{{ asset('bundles/colizeninterface/ace/css/ace-ie.min.css') }}" />
    <![endif]-->

    <!-- inline styles related to this page -->
    {% block stylesheets %}{% endblock %}

    <!-- ace settings handler -->
    <script src="{{ asset('bundles/colizeninterface/ace/js/ace-extra.min.js') }}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="{{ asset('bundles/colizeninterface/ace/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bundles/colizeninterface/ace/js/respond.min.js') }}"></script>
    <![endif]-->
</head>

{% block body %}
<body class="no-skin">

    {% include '::_header.html.twig' %}

    <div class="main-container" id="main-container">
        <div class="main-content">

            <div class="page-content">
                {% block content %}{% endblock %}
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->

    </div><!-- /.main-container -->


    <!-- basic scripts -->

    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='{{ asset('bundles/colizeninterface/ace/js/jquery.min.js') }}'>"+"<"+"/script>");
    </script>

    <!-- <![endif]-->

    <!--[if IE]>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='../assets/js/jquery1x.min.js'>"+"<"+"/script>");
    </script>
    <![endif]-->
    <script type="text/javascript">
        if('ontouchstart' in document.documentElement) document.write("<script src='{{ asset('bundles/colizeninterface/ace/js/jquery.mobile.custom.min.js') }}'>"+"<"+"/script>");
    </script>
    <script src="{{ asset('bundles/colizeninterface/ace/js/bootstrap.min.js') }}"></script>

    <!-- page specific plugin scripts -->
    {% block ace_js_plugins %}{% endblock %}

    <!-- ace scripts -->
    <script src="{{ asset('bundles/colizeninterface/ace/js/ace-elements.min.js') }}"></script>
    <script src="{{ asset('bundles/colizeninterface/ace/js/ace.min.js') }}"></script>

    <!-- inline scripts related to this page -->
    {% block javascripts %}{% endblock %}
</body>
{% endblock %}
</html>
