<header id="top" class="navbar navbar-default" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand regulzen_logo" href="{{ path('regulzen_interface_index') }}">&nbsp;</a>
        </div>
        
        
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            {{ menu is defined ? menu|raw }}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                </li>
            </ul>
            <ul class="nav navbar-right">
                <li>
                  {% if latest_import_action_date %}
                      {{ 'regulzen.info.import_last_started_at'|trans({'%date%':latest_import_action_date|date('d/m/Y'),'%time%':latest_import_action_date|date('H:i:s')}) }}  
                  {% else %}
                      {{ 'regulzen.info.no_existing_import_logs'|trans }}
                  {% endif %}
                </li>
                <li>
                  {% if latest_content_update_date %}
                      {{ 'regulzen.info.content_last_updated_at'|trans({'%date%':latest_content_update_date|date('d/m/Y'),'%time%':latest_content_update_date|date('H:i:s')}) }}  
                  {% else %}
                      {{ 'regulzen.info.no_content_updated'|trans }}
                  {% endif %}
                </li>
            </ul>
        </nav>
    </div>
</header>    