{% extends "ColizenInterfaceBundle::layout.html.twig" %}

{#{% block third_party_css %}#}
    {#{{ parent() }}#}
    {#<link rel="stylesheet" href="{{ asset('bundles/colizeninterface/ace/css/ui.jqgrid.css ') }}" />#}
{#{% endblock %}#}

{#{% block javascripts %}#}
    {#{{ parent() }}#}
    {#<script src="{{ asset('bundles/colizeninterface/ace/js/jqGrid/jquery.jqGrid.min.js') }}"></script>#}
{#{% endblock %}#}



{% block content %}
{{ parent() }}
    <div class="row ">
        {{ form_start(dateCycleForm, { 'attr': {'class': 'form-inline'} }) }}

        <div class="col-md-3 col-md-offset-3">
            <div class="form-group">
                {{ form_widget(dateCycleForm.date) }}
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                {{ form_widget(dateCycleForm.cycle) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_widget(dateCycleForm.valider) }}
            </div>
        </div>

        {{ form_rest(dateCycleForm) }}
        {{ form_end(dateCycleForm) }}
    </div>
    <br />
    <div class="row">
        <table class="table table-bordered table-striped">
            <thead class="thin-border-bottom">
                <tr>

                    <th>Site</th>
                    <th><i class="ace-icon fa fa-caret-right blue"></i><span title="Nombre d'expéditions">Nbr Expéditions</span></th>
                    <th><i class="ace-icon fa fa-caret-right blue"></i><span title="Nombre de colis (COEC et EDIR)">Nbr Colis</span></th>
                    <th><i class="ace-icon fa fa-caret-right blue"></i>% Dispatch</th>
                    <th><i class="ace-icon fa fa-caret-right blue"></i>% Départ</th>
                    <th><i class="ace-icon fa fa-caret-right blue"></i>% Avancement</th>
                    <th><i class="ace-icon fa fa-caret-right blue"></i>Tx d'echec</th>
                    <th><i class="ace-icon fa fa-caret-right blue"></i>Tx HC</th>
                    <th><i class="ace-icon fa fa-caret-right blue"></i>Prev Tx HC</th>
                    <th><i class="ace-icon fa fa-caret-right blue"></i>Prev minutes HC</th>
                    <th><i class="ace-icon fa fa-caret-right blue"></i>Prev livreur sensible</th>
                    <th><i class="ace-icon fa fa-caret-right blue"></i>Manquant</th>
                    <th><i class="ace-icon fa fa-caret-right blue"></i>Surplus</th>
                    <th><i class="ace-icon fa fa-caret-right blue"></i>CNML</th>
                    <th><i class="ace-icon fa fa-caret-right blue"></i>Inv Tou</th>
                    <th><i class="ace-icon fa fa-caret-right blue"></i>% Cloture</th>
                </tr>
            </thead>
            <tbody>
                {% for siteId, siteRow in sitesData %}
                <tr>
                    <td>{{ siteRow['site'].name }}</td>
                    <td>{{ siteRow['nombreExpeditions'] |make_na_small |raw  }}</td>
                    <td>{{ siteRow['nombreColis'] |make_na_small |raw }}</td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}