{% extends "ColizenInterfaceBundle::layout.html.twig" %}

{#{% block third_party_css %}#}
    {#{{ parent() }}#}
    {#<link rel="stylesheet" href="{{ asset('bundles/colizeninterface/ace/css/ui.jqgrid.css ') }}" />#}
{#{% endblock %}#}

{#{% block javascripts %}#}
    {#{{ parent() }}#}
    {#<script src="{{ asset('bundles/colizeninterface/ace/js/jqGrid/jquery.jqGrid.min.js') }}"></script>#}
{#{% endblock %}#}



{% block content %}
{{ parent() }}
    <div class="row ">
        {{ form_start(dateCycleForm, { 'attr': {'class': 'form-inline'} }) }}

        <div class="col-md-3 col-md-offset-3">
            <div class="form-group">
                {{ form_widget(dateCycleForm.date) }}
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                {{ form_widget(dateCycleForm.cycle) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_widget(dateCycleForm.valider) }}
            </div>
        </div>

        {{ form_rest(dateCycleForm) }}
        {{ form_end(dateCycleForm) }}
    </div>
    <br />
    <div class="row">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Site</th>
                    <th>Nb Expéditions</th>
                    <th>Nb Colis</th>
                    <th>% Dispatch</th>
                    <th>% Départ</th>
                    <th>% Avancement</th>
                    <th>Tx d'echec</th>
                    <th>Tx HC</th>
                    <th>Prev Tx HC</th>
                    <th>Prev minutes HC</th>
                    <th>Prev livreur sensible</th>
                    <th>Manquant</th>
                    <th>Surplus</th>
                    <th>CNML</th>
                    <th>Inv Tou</th>
                    <th>% Cloture</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                </tr>
            </tbody>
        </table>


    </div>
{% endblock %}