{% extends "ColizenInterfaceBundle::layout.html.twig" %}

{#{% block third_party_css %}#}
    {#{{ parent() }}#}
    {#<link rel="stylesheet" href="{{ asset('bundles/colizeninterface/ace/css/ui.jqgrid.css ') }}" />#}
{#{% endblock %}#}

{#{% block javascripts %}#}
    {#{{ parent() }}#}
    {#<script src="{{ asset('bundles/colizeninterface/ace/js/jqGrid/jquery.jqGrid.min.js') }}"></script>#}
{#{% endblock %}#}



{% block content %}
{{ parent() }}
    <div class="row ">
        {{ form_start(dateCycleForm, { 'attr': {'class': 'form-inline'} }) }}

        <div class="col-md-3 col-md-offset-3">
            <div class="form-group">
                {{ form_widget(dateCycleForm.date) }}
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                {{ form_widget(dateCycleForm.cycle) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_widget(dateCycleForm.valider) }}
            </div>
        </div>

        {{ form_rest(dateCycleForm) }}
        {{ form_end(dateCycleForm) }}
    </div>
    <br />
    <div class="row">
        <table class="table table-bordered table-striped">
            <thead class="thin-border-bottom">
                <tr>

                    <th>Site</th>
                    <th>
                        <i class="ace-icon fa fa-caret-right blue"></i>
                        <span title="Nombre d'expéditions">Nbr Expéditions</span>
                    </th>
                    <th>
                        <i class="ace-icon fa fa-caret-right blue"></i>
                        <span title="Nombre de colis (COEC et EDIR)">Nbr Colis</span>
                    </th>
                    <th>
                        <i class="ace-icon fa fa-caret-right blue"></i>
                        <span title="Pourcentage de dispatch (Avancement de l'étiquetage)">% Dispatch</span>
                    </th>
                    <th>
                        <i class="ace-icon fa fa-caret-right blue"></i>
                        <span title="">% Départ</span>
                    </th>
                    <th>
                        <i class="ace-icon fa fa-caret-right blue"></i>
                        <span title="">% Avancement</span>
                    </th>
                    <th>
                        <i class="ace-icon fa fa-caret-right blue"></i>
                        <span title="">Tx d'echec</span>
                    </th>
                    <th>
                        <i class="ace-icon fa fa-caret-right blue"></i>
                        <span title="">Tx HC</span>
                    </th>
                    <th>
                        <i class="ace-icon fa fa-caret-right blue"></i>
                        <span title="">Prev Tx HC</span>
                    </th>
                    <th>
                        <i class="ace-icon fa fa-caret-right blue"></i>
                        <span title="">Prev minutes HC</span>
                    </th>
                    <th>
                        <i class="ace-icon fa fa-caret-right blue"></i>
                        <span title="">Prev livreur sensible</span>
                    </th>
                    <th>
                        <i class="ace-icon fa fa-caret-right blue"></i>
                        <span title="">Manquant</span>
                    </th>
                    <th>
                        <i class="ace-icon fa fa-caret-right blue"></i>
                        <span title="">Surplus</span>
                    </th>
                    <th>
                        <i class="ace-icon fa fa-caret-right blue"></i>
                        <span title="">CNML</span>
                    </th>
                    <th>
                        <i class="ace-icon fa fa-caret-right blue"></i>
                        <span title="">Inv Tou</span>
                    </th>
                    <th>
                        <i class="ace-icon fa fa-caret-right blue"></i>
                        <span title="">% Cloture</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for siteId, siteRow in sitesData %}
                <tr>
                    <td>{{ siteRow['site'].name }}</td>
                    <td>{{ siteRow['nombreExpeditions'] |make_na_small |raw  }}</td>
                    <td>{{ siteRow['nombreColis'] |make_na_small |raw }}</td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}