{% macro btn(admin,action,id= '-1',is_small=false) %}
    <a href="{{ (id>-1)?path('admin_'~admin~'_'~action,{'id':id}):path('admin_'~admin~'_'~action) }}" class="btn {{ _self.get_btn_type(action) }} {{ is_small?'btn-sm':''}}">
            {{ _self.get_icon(action) }} {{ ('regulzen.admin.'~action)|trans }}
    </a>
{% endmacro %}

{% macro bool(val) %}
    {{ (val? 'yes':'no')|trans }}
{% endmacro %}

{% macro get_icon(action) %}
    {% if action=='list' %}
        {{ icon('circle-arrow-left')}}
    {% elseif action=='edit' %}
        {{ icon('pencil')}}
    {% elseif action=='new' %}
        {{ icon('plus')}}
    {% endif %}
{% endmacro %}

{% macro get_btn_type(action) -%}
    btn-{%- if action in ['edit','new'] -%}
        primary
    {%- else -%}
        default
    {%- endif -%}
{%- endmacro %}