{% extends "ColizenAdminBundle::layout.html.twig" %}
{% from "ColizenAdminBundle:Form:_macros.html.twig" import btn,bool %}

{% block content -%}
    <h1>TourCode list</h1>

    {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}

    <table class="records_list table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Is Excluded ?</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_tour_code_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.code }}</td>
                <td>{{ bool(entity.isExcluded) }}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    {{ btn('tour_code','show',entity.id,true) }}
                    {{ btn('tour_code','edit',entity.id,true) }}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            {{ btn('tour_code','new') }}
        </li>
    </ul>
    {% endblock %}
