{% extends "ColizenAdminBundle::admin_layout.html.twig" %}
{% from "ColizenAdminBundle:Form:_macros.html.twig" import btn %}

{% block content -%}
    <h1>TourCode</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ entity.code }}</td>
            </tr>
            <tr>
                <th>Isexcluded</th>
                <td>{{ entity.isExcluded }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        {{ btn('tour_code','list') }}
    </li>
    <li>
        {{ btn('tour_code','edit',entity.id) }}
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
